#area-content {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.column {
    float: left;
    padding: 15px;
    margin: auto;
}
#content{
    width: 80%;
    max-width: 840px;
}

.column .menu {
    min-width: 100px;
    max-width: 200px;
}

.row {
    width: 100%;
}

#content img {
    width: 100%;
    max-width: 840px;
}

.no-float {
    float: none;
}