header {
    width: 100%;
    height: 100px;
    padding: 20px 100px;
    line-height: 2em;
    background-color: #3b5280;
    /* text-align: center; */
    /* display: flex;
    justify-content: center; */
    align-items: center;
}